dup1/dup1
dup2/dup2
dup3/dup3
echo1/echo1
echo2/echo2
echo3/echo3
exercise1_1/exercise1_1
exercise1_10/exercise1_10
exercise1_11/exercise1_11
exercise1_2/exercise1_2
exercise1_3/exercise1_3
exercise1_4/exercise1_4
exercise1_5/exercise1_5
exercise1_6/exercise1_6
exercise1_7/exercise1_7
exercise1_8/exercise1_8
exercise1_9/exercise1_9
fetch/fetch
fetchall/fetchall
helloworld/helloworld
lissajous/lissajous
server1/server1
