chapter1/dup1/dup1
chapter1/dup2/dup2
chapter1/dup3/dup3
chapter1/echo1/echo1
chapter1/echo2/echo2
chapter1/echo3/echo3
chapter1/exercise1_1/exercise1_1
chapter1/exercise1_10/exercise1_10
chapter1/exercise1_2/exercise1_2
chapter1/exercise1_3/exercise1_3
chapter1/exercise1_4/exercise1_4
chapter1/exercise1_5/exercise1_5
chapter1/exercise1_6/exercise1_6
chapter1/exercise1_7/exercise1_7
chapter1/exercise1_8/exercise1_8
chapter1/exercise1_9/exercise1_9
chapter1/fetch/fetch
chapter1/fetchall/fetchall
chapter1/helloworld/helloworld
chapter1/lissajous/lissajous
chapter1/server1/server1
chapter1/server2/server2
chapter1/server3/server3
chapter2/boiling/boiling
chapter2/cf/cf
chapter2/echo4/echo4
chapter2/escaped_local_variable/escaped_local_variable
chapter2/exercise2_2/exercise2_2
chapter2/exercise2_3/exercise2_3
chapter2/exercise2_4/exercise2_4
chapter2/exercise2_5/exercise2_5
chapter2/ftoc/ftoc
chapter2/popcount/popcount
chapter2/tempconv/tempconv
chapter2/tempconv0/tempconv0
chapter3/basename/basename
chapter3/comma/comma
chapter3/exercise3_1/exercise3_1
chapter3/exercise3_2/exercise3_2
chapter3/exercise3_3/exercise3_3
chapter3/exercise3_4/exercise3_4
chapter3/exercise3_5/exercise3_5
chapter3/exercise3_6/exercise3_6
chapter3/exercise3_7/exercise3_7
chapter3/exercise3_8/exercise3_8
chapter3/exercise3_9/exercise3_9
chapter3/exercise3_9/exercise3_10
chapter3/exercise3_9/exercise3_11
chapter3/exercise3_9/exercise3_12
chapter3/mandelbrot/mandelbrot
chapter3/surface/surface

chapter4/append/append
chapter4/charcount/charcount
chapter4/dedup/dedup
chapter4/embed/embed
chapter4/exercise4_1/exercise4_1
chapter4/exercise4_10/exercise4_10
chapter4/exercise4_11/exercise4_11
chapter4/exercise4_12/exercise4_12
chapter4/exercise4_12/index.json
chapter4/exercise4_12/xkcd
chapter4/exercise4_13/exercise4_13
chapter4/exercise4_13/poster
chapter4/exercise4_13/*.jpg
chapter4/exercise4_14/exercise4_14
chapter4/exercise4_14/*.json
chapter4/exercise4_2/exercise4_2
chapter4/exercise4_3/exercise4_3
chapter4/exercise4_4/exercise4_4
chapter4/exercise4_5/exercise4_5
chapter4/exercise4_6/exercise4_6
chapter4/exercise4_7/exercise4_7
chapter4/exercise4_8/exercise4_8
chapter4/exercise4_9/exercise4_9
chapter4/issueshtml/*.html
chapter4/issueshtml/issueshtml
chapter4/issuesreport/issuesreport
chapter4/github/github
chapter4/graph/graph
chapter4/issues/issues
chapter4/nonempty/nonempty
chapter4/remove/remove
chapter4/rev/rev
chapter4/sha256/sha256
chapter4/treesort/treesort



chapter5/exercise5_1/exercise5_1
chapter5/exercise5_1/fetch
chapter5/exercise5_2/exercise5_2
chapter5/exercise5_2/fetch
chapter5/exercise5_2/*.html
chapter5/exercise5_3/fetch
chapter5/exercise5_3/exercise5_3
chapter5/exercise5_4/exercise5_4
chapter5/exercise5_4/*.html
chapter5/exercise5_5/exercise5_5
chapter5/exercise5_6/exercise5_6
chapter5/exercise5_7/exercise5_7
chapter5/exercise5_8/exercise5_8
chapter5/exercise5_9/exercise5_9
chapter5/exercise5_10/exercise5_10
chapter5/exercise5_11/exercise5_11
chapter5/exercise5_12/exercise5_12
chapter5/exercise5_12/*.html
chapter5/exercise5_13/exercise5_13
chapter5/exercise5_13/golang.org
chapter5/exercise5_13/google.com
chapter5/exercise5_14/exercise5_14
chapter5/exercise5_15/exercise5_15
chapter5/exercise5_16/exercise5_16
chapter5/exercise5_17/exercise5_17
chapter5/exercise5_17/*.html
chapter5/title1/title1
chapter5/title2/title2
chapter5/trace/trace
chapter5/fetch/fetch
chapter5/fetch/*.html
chapter5/exercise5_18/exercise5_18
chapter5/exercise5_18/*.html

chapter5/findlinks1/fetch
chapter5/findlinks1/findlinks1
chapter5/findlinks2/findlinks2
chapter5/outline/fetch
chapter5/outline/outline
chapter5/outline2/outline2
chapter5/outline2/*.html
chapter5/toposort/toposort
chapter5/squares/squares
chapter5/findlinks3/findlinks3
chapter5/title3/*html
chapter5/title3/title3
chapter5/defer1/defer1
chapter5/defer2/defer2
chapter5/exercise5_19/exercise5_19

chapter6/urlvalues/urlvalues
chapter6/coloredpoint/coloredpoint
chapter6/geometry/geometry
chapter6/intset/intset
chapter6/exercise6_1/exercise6_1
chapter6/exercise6_2/exercise6_2
chapter6/exercise6_3/exercise6_3
chapter6/exercise6_4/exercise6_4
chapter6/exercise6_5/exercise6_5

chapter7/bytecounter/bytecounter
chapter7/exercise7_1/exercise7_1
chapter7/exercise7_2/exercise7_2
chapter7/exercise7_3/exercise7_3
chapter7/exercise7_4/exercise7_4
chapter7/exercise7_5/exercise7_5
chapter7/exercise7_6/exercise7_6
chapter7/exercise7_7/exercise7_7
chapter7/exercise7_8/exercise7_8
chapter7/exercise7_9/exercise7_9
chapter7/exercise7_10/exercise7_10
chapter7/exercise7_11/exercise7_11
chapter7/exercise7_12/exercise7_12
chapter7/exercise7_13/exercise7_13
chapter7/exercise7_14/exercise7_14
chapter7/exercise7_15/exercise7_15
chapter7/exercise7_16/exercise7_16
chapter7/exercise7_17/exercise7_17
chapter7/exercise7_18/exercise7_18
chapter7/http1/http1
chapter7/http2/http2
chapter7/http3/http3
chapter7/http3a/http3a
chapter7/http4/http4
chapter7/sorting/sorting
chapter7/interface_satisfaction/interface_satisfaction
chapter7/sleep/sleep
chapter7/tempconv/tempconv
chapter7/tempflag/tempflag
chapter7/xmlselect/xmlselect

chapter8/spinner/spinner
chapter8/clock1/clock1
chapter8/netcat1/netcat1
chapter8/clock2/clock2
chapter8/exercise8_1/clock2/clock2
chapter8/exercise8_1/clockwall/clockwall
chapter8/exercise8_2/exercise8_2
chapter8/exercise8_3/exercise8_3
chapter8/exercise8_4/exercise8_4
chapter8/exercise8_5/exercise8_5
chapter8/netcat2/netcat2
chapter8/netcat3/netcat3
chapter8/pipeline1/pipeline1
chapter8/pipeline2/pipeline2
chapter8/pipeline3/pipeline3
chapter8/reverb1/reverb1
chapter8/reverb2/reverb2
chapter8/thumbnail/thumbnail
chapter8/thumbnail1/thumbnai1
chapter8/thumbnail2/thumbnail2
chapter8/thumbnail3/thumbnail3
chapter8/thumbnail4/thumbnail4
chapter8/thumbnail5/thumbnail5
chapter8/thumbnail6/thumbnail6
