chapter1/dup1/dup1
chapter1/dup2/dup2
chapter1/dup3/dup3
chapter1/echo1/echo1
chapter1/echo2/echo2
chapter1/echo3/echo3
chapter1/exercise1_1/exercise1_1
chapter1/exercise1_10/exercise1_10
chapter1/exercise1_11/exercise1_11
chapter1/exercise1_2/exercise1_2
chapter1/exercise1_3/exercise1_3
chapter1/exercise1_4/exercise1_4
chapter1/exercise1_5/exercise1_5
chapter1/exercise1_6/exercise1_6
chapter1/exercise1_7/exercise1_7
chapter1/exercise1_8/exercise1_8
chapter1/exercise1_9/exercise1_9
chapter1/fetch/fetch
chapter1/fetchall/fetchall
chapter1/helloworld/helloworld
chapter1/lissajous/lissajous
chapter1/server1/server1
chapter1/server2/server2
chapter1/server3/server3
chapter1/exercise1_5/exercise1_5
